# entorno
NODE_ENV = Complete with the nodejs environment

# puerto
PORT = Complete with port

#log
LOG_LEVEL = Complete with the log level

#database
DATABASE_URL = Complete with the mongodb connection url
